<div class="index">
    <div class="header">
        <p class="title">XX INDEX</p>
    </div>
    <div class="content">
        <div class="content-item">
        <img src="../../assets/imgs/aside/graphic.jpg" alt="Info">
        </div>
        <div class="content-description">
            <div class="personal">
                <span id="dot" class="personal-dot"></span><span>Personal</span>
                <p>34</p>
            </div>
            <hr>
            <div class="team">
                <span id="dot" class="team-dot"></span><span>Team</span>
                <p>22</p>
            </div>
            <hr>
            <div class="department">
                <span id="dot" class="department-dot"></span><span>Department</span>
                <p>23</p>
            </div>
        </div>
    </div>