<div class="container">
    <div class="route">
        <p>Home / Dashboard / Workplace </p>
    </div>
    <div class="profile-container">
        <div class="info">
            <img class="image" src="../../assets/imgs/profile.jpg" alt="profile" class="profile-img">
            <div class="profile-info">
                <h2> Good Morning, Serati Ma, I wish you happiness every day!</h2>
                <p>Interaction expert | Ant gold service-some certain business group platform department-a certain technical department-UED</p>
            </div>
        </div>    
        <div class="profile-numbers">
            <div class="items">
                <p>Number of items</p>
                <h2>56</h2>
            </div>
            <div class="ranking">
                <p>Ranking</p>
                <div class="fractional-value">
                    <h2>8 <span>/ 24</span></h2>
                </div>                
            </div>
            <div class="visit">
                <p>Project visit</p>
                <h2>2,223</h2>
            </div>
        </div>
    </div>
</div>

